# Dependencies
node_modules/

# Environment Variables
.env
.env.local
.env.production

# Database & SQLite files
*.db
*.sqlite

# Logs
logs
*.log
npm-debug.log*

# Capacitor / Android build outputs
android/app/build/
.idea/
